<!doctype html>
<html lang="pt" ng-app="listaTelefonica">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="resource/css/stilo.css">

    <title>Lista Telefonica</title>

    <!-- AngularJs -->
    <script src="angularjs/angular.js"></script>
    <script src="resource/js/angular-locale_pt-br.js"></script>
    <script src="resource/js/app.js"></script>
    <script src="resource/js/controllers/listaTelefonicaCtrl.js"></script>
    <script src="resource/js/services/contatosAPIService.js"></script>
    <script src="resource/js/services/operadorasAPIService.js"></script>
    <script src="resource/js/config/value.js"></script>
  </head>
  <body ng-controller = "listaTelefonicaCtrl">
    <div class="jumbotron">
        {{message}}
        <h4 ng-bind="app"></h4>
        <input type="text" ng-model="busca" placeholder="Pesquise aqui" class="form-control"/>
        <table class="table table-striped">
            <tr>
                <th>x</th>
                <th>Serial</th>
                <th><a href="" ng-click="ordenarPor('nome')"> Nome</th>
                <th><a href="" ng-click="ordenarPor('telefone')"> Telefone</th>
                <th><a href="" ng-click="ordenarPor('data')"> Data</th>
                <th><a href="" ng-click="ordenarPor('operadora')"> Operadora</th>
            </tr>
           <tr ng-repeat="contato in contatos | filter:busca | orderBy: criterioOrdenacao:ascendente" ng-class="{selecionado: contato.selecionado}">
                <td><input type="checkbox" ng-model="contato.selecionado"></td>
                <td>{{contato.serial}}</td>
                <td>{{contato.nome | uppercase}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.data | date: "EEE dd/MM/yyyy"}}</td>
                <td>{{contato.operadora.nome | lowercase}}</td>
           </tr>
        </table>
        
        
        <hr/>


        <form name="contatoForm">
            <input type="text" class="form-control" placeholder="Nome"
            aria-label="Username" aria-describedby="basic-addon1" ng-model="contato.nome" ng-required="true" name="nome" ng-minlength="5">
            <div class="alert alert-danger" ng-show="contatoForm.nome.$error.required && contatoForm.nome.$dirty" stylesheet="margin:400px">
                Por favor, preenche o nome
            </div>
            <div class="alert alert-danger" ng-show="contatoForm.nome.$error.minlength && contatoForm.nome.$dirty" stylesheet="margin:400px">
                Campo deve ter no minimo 5 caracteres
            </div>

            
            <input type="text" class="form-control" placeholder="Telefone" aria-label="Usertelefone"
             aria-describedby="basic-addon1" ng-model="contato.telefone" ng-pattern="/^\d{4,5}-\d{4}$/" name="telefone">
             <div class="alert alert-danger" ng-show="contatoForm.telefone.$error.pattern && contatoForm.telefone.$dirty" stylesheet="margin:400px">
                Exemplo: 90000-0000 ou 0000-0000
            </div>


             <select class="form-control" ng-model="contato.operadora"
             ng-options="operadora.nome + '( '+ (operadora.preco | currency) +' )' group by operadora.categoria for operadora in operadoras">
                <option value ="">Selecione uma operadora</option>
            </select>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Save changes</button>
                <button type="button" class="btn btn-danger" ng-click="apagarContato(contatos)" data-dismiss="modal">Delete</button>
            </div>
        </form>
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>